﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GastroPub Test MVC App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
@RenderBody()

@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>
