﻿@model GastroPub.MvcApp.Models.SearchResultViewModel

<nav>
    <ul class="pagination">
        @for (var i = 1; i < Model.PageCount; i++)
        {
            <li class="@(Model.CurrentPage == i ? "active" : "")">
                <a href="#" data-page="@i">@i</a>
            </li>
        }
    </ul>
</nav>