﻿@model GastroPub.MvcApp.Models.SearchResultViewModel
@using GastroPub.Service.ExtensionMethods

<div id="content">
    <table class="table">
        <thead>
            <tr><th>Name</th><th>Types of Food</th><th>Ratings</th></tr>
        </thead>
        <tbody>
            @foreach (var restaurant in Model.Restaurants)
            {
                var rating = restaurant.RatingStars / 6 * 100;
                
                <tr>
                    <td>@restaurant.Name</td>
                    <td>@restaurant.CuisineTypes.ToString(" & ")</td>
                    <td>

                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@rating" aria-valuemin="0" aria-valuemax="100" style="width: @rating%">
                                <span class="sr-only">@rating</span>
                            </div>
                        </div>                    
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>