﻿@Scripts.Render("~/Scripts/GastroPub/Searcher.js")
@Scripts.Render("~/Scripts/GastroPub/Pagination.js")

<input id="hiddenSearchQuery" type="hidden" />

<div>

    <div class="jumbotron">
        <h1>@Resource.WelcomeHeader</h1>
    </div>

    <div class="form-group">
        <input id="postcodeTextBox" type="text" class="form-control" placeholder="@Resource.SearchTextBoxPlaceHolder"/>
        <button id="searchButton" type="button" class="btn btn-default">@Resource.SearchButton</button>
    </div>

    <div id="searchResultsContainer">
    </div>

</div>